body {
  font-family: Tahoma, sans-serif;
  background: linear-gradient(to bottom, #1c1c1c, #333);
  color: #fff;
  text-align: center;
  padding: 50px;
  direction: rtl;
}

.container {
  max-width: 700px;
  margin: auto;
  background: #222;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 15px #000;
}

input, button {
  padding: 10px;
  margin: 10px;
  width: 80%;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

button {
  background: #00b894;
  color: white;
  cursor: pointer;
}

button:disabled {
  background: gray;
  cursor: not-allowed;
}

.modes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

#imageContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-top: 20px;
}

#imageContainer img {
  width: 100%;
  max-width: 100px;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

#imageContainer img:hover {
  transform: scale(1.1);
}

#selectedImage img {
  margin-top: 20px;
  border: 2px solid #00b894;
  border-radius: 10px;
}

.version {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #aaa;
  font-size: 14px;
  opacity: 0.8;
}

